Language: Cpp
Standard: c++20

BasedOnStyle: Google

IndentWidth: 4
ColumnLimit: 120
AccessModifierOffset: -2

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never

PenaltyReturnTypeOnItsOwnLine: 1000
PenaltyBreakTemplateDeclaration: 0
PenaltyBreakBeforeFirstCallParameter: 0

SpacesInAngles: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false

BinPackParameters: false
BinPackArguments: false
AllowAllArgumentsOnNextLine: true

BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: false

SortIncludes: false

PointerAlignment: Left

NamespaceIndentation: All