# Select the debugger:
#   - For ST-Link:   source [find interface/stlink.cfg]
#   - For J-Link:    source [find interface/jlink.cfg]
#   - For DAP-Link:  source [find interface/cmsis-dap.cfg]
source [find interface/cmsis-dap.cfg]

# Transport selection (depends on the debugger):
#   - ST-Link   : transport select hla_swd
#   - J-Link    : transport select swd
#   - DAP-Link  : transport select swd
transport select swd

# set FLASH_SIZE 0x100000
;set OPENOCD_FLASH_START 0x08000000
source [find target/stm32f1x.cfg]
# download speed = 10MHz
adapter speed 10000